AVS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AVS/obj/Debug/*
AVS/obj/Debug/
AVS/bin/Debug/AVS.vshost.exe
AVS/bin/Debug/AVS.exe.config
AVS/bin/Debug/AVS.vshost.exe.config
AVS/bin/Debug/AVS.vshost.exe.manifest
.vs/AVS/v14/.suo
.vs/AVS/v14/.suo
.vs/AVS/v14/.suo